.auto-gallery {
  width: 100%;
  max-width: 100%;
  height: 300px;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.gallery-slider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slideImages 20s infinite;
}

/* Animación que cambia imágenes automáticamente */
@keyframes slideImages {
  0%   { background-image: url('../images/us/img1.jpg'); }
  20%  { background-image: url('../images/us/img2.jpg'); }
  40%  { background-image: url('../images/us/img3.jpg'); }
  60%  { background-image: url('../images/us/img4.jpg'); }
  80%  { background-image: url('../images/us/img5.jpg'); }
  100% { background-image: url('../images/us/img1.jpg'); }
}