.main-nav {
  background-color: #222;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0rem;
  flex-wrap: wrap;
}

.main-nav a {
  color: #ffc107;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.main-nav a:hover {
  background-color: #fff;
  color: #000;
}