.rodadas-section {
  padding: 2rem;
  text-align: center;
}

.rodadas-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffc107;  
}

.rodadas-contenido {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.rodada-item {
  flex: 1 1 300px;
  max-width: 50%;
  text-align: center;
}

.rodada-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}



.rodada-item p {
    background-color: #222;
    color: #eeeeee;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 auto;
    max-width: 100%;
    display: inline-block;
  }
  
  .rodada-item p:hover {
    background-color: #fff;
    color: #000;
    cursor: default; /* Opcional: para que no parezca un enlace */
  }
  
  .section-contenedor {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 5rem;
  }
  
