
:root {
    --title-font: 'Russo One', sans-serif; /* o Bebas Neue */
    --body-font: 'Barlow', sans-serif;
    --bg-color: #000;
    --text-color: #fff;
    --title-color: #ffc107;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--body-font);
    line-height: 1.6;
}

header {
    background: #111;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header img {
    height: 50px;
}

header h1 {
    color: var(--title-color);
    font-size: 1.5rem;
}

.hero {
    width: 100%;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.hero-container {
    width: 60%;
}

.hero-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

/* Responsivo para móviles */
@media (max-width: 768px) {
    .hero-container {
        width: 100%;
        padding: 0 1rem;
    }
}


.section {
    padding: 2rem;
}

.section h3 {
    color: var(--title-color);
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    background: #222;
    padding: 1rem;
    border-radius: 8px;
}

footer {
    background: #111;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Responsive Tweaks */
@media (max-width: 768px) {
    .hero {
        height: 200px;
    }

    .hero h2 {
        font-size: 1.5rem;
    }
}